.logo {
  width: 15rem;
}

.userimage {
    width: 3rem;
    float: left;
    border-radius: 50%;
    margin-right: .5rem;
    margin-top: -10px;
}

.username {
    display: inline-block;
}

.topnav {
  overflow: hidden;
  background-color: var(--color-background);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .myaccount {
    float: right;
}

.active {
  background-color: var(--pink-8);
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-top: 22px solid var(--color-background);
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowncontent {
  display: none;
  position: absolute;
  color: white;
  background-color: var(--gray-3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent.myaccountcontent {
  display: none;
  position: absolute;
  color: white;
  background-color: var(--gray-3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.dropdowncontent a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:not(.logo):not(.dropdownLink):not(.myaccount) {
  border-top: 22px solid var(--color-background);
}

.topnav a:not(.logo):hover, .dropdown:hover .dropbtn {
  background-color: var(--pink-5);
  color: white;
}

.dropdowncontent a:hover {
  background-color: var(--pink-5);
  color: black;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo {
    text-align:center;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-top: default;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdowncontent {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .logo {
    text-align:center;
  }
}
