# URL of the Gin API — in Docker Compose this is the service name
NEXT_PUBLIC_API_URL=https://your.app/api

# Values for the "auth_session" cookie for middleware
NEXT_PUBLIC_FRONTEND_DOMAIN=your.app

#how long in seconds the refresh token is valid--7 days=604800
NEXT_PUBLIC_COOKIE_AUTH_EXPIRE_LIMIT=604800

# Node values
NODE_ENV=development
