# Node
node_modules/
.next/
frontend/.env*.local
frontend/tsconfig.tsbuildinfo

# Go
backend/tmp/
backend/internal/coverage.out

# Docker
.env
docker-compose.*local.yml

# OS
.DS_Store
Thumbs.db

.vscode
