PORT=8080
GIN_MODE=release

DATABASE_URL=postgres://app:secret@db:5432/appdb
DATABASE_URL_TESTS=postgres://app:secret@localhost:5432/appdb
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
POSTGRES_DB=appdb

COOKIE_HASH_KEY=your-32-byte-hash-key-here
COOKIE_ENCRYPT_KEY=your-32-byte-encr-key-here
COOKIE_DOMAIN=your.app

DISCORD_CLIENT_ID=discord-api-client-id
DISCORD_CLIENT_SECRET=discord-api-client-secret
DISCORD_REDIRECT_URI=http://your.app/api/auth/discord_redirect
DISCORD_API_URL=https://discord.com/api

JWT_SECRET=your-32-byte-hash-key-here
REFRESH_EXPIRE_LIMIT=604800

# Comma-separated allowed origins for CORS
FRONTEND_URL=http://localhost:3000
