@import "tailwindcss";

.radix-themes {
    --cursor-button: pointer;
}

.my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-neutral-950 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
}

.my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
}

.my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-950 border-2 border-neutral-300 dark:border-neutral-600;
}

.my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-900 dark:hover:bg-neutral-950;
}

.my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-900;
}

.my-react-select-container .my-react-select__option--is-disabled {
    @apply bg-neutral-800 text-neutral-500 cursor-not-allowed hover:bg-neutral-800;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
}

.my-react-select-container .my-react-select__multi-value,
.my-react-select-container .my-react-select__multi-value__label {
    @apply bg-pink-950 text-neutral-200
}

.my-react-select-container .my-react-select__multi-value__remove {
    @apply bg-pink-950 hover:bg-pink-800 hover:text-pink-300
}



/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 1rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/
